.app {
  font-family: Arial, sans-serif;

  background-color: #f9f9f9;
  color: #333;
}

.app-header {
  border-radius: 10px;
  width: 100%;
}

main {
  margin: 20px auto;
  max-width: 600px;
}

.main-content {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.tab-section {
  width: 100%;
  padding: 20px;
}

.tabs {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  justify-content: space-between;
  width: 100%;
}

.tab {
  flex: 1; /* make them auto-grow equally */
  padding: 10px; /* balanced padding, no overflow */
  text-align: center;
  border: 1px solid #10413f;
  border-radius: 8px;
  background: #f5f7f7;
  color: #10413f;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: background 0.3s ease, color 0.3s ease;
}

.tab.active {
  background: #10413f;
  color: #fff;
}

.tab:hover {
  background: #10413f;
  color: #fff;
}

section {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
}

.footer {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.btn {
  display: inline-block;
  background: #10413f;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background: #0d322f;
}

p {
  margin: 0;
}

.hamburger {
  display: none;
  font-size: 13px;
  background: #10413f;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  /* z-index: 1100; */
  border-radius: 6px;
}

/* ============= MEDIA QUERIES ============= */
/* 🔹 Responsiveness */
/* Tablet and below (collapse sidebar at 800px) */
@media (max-width: 800px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* hidden off-screen */
    width: 220px;
    height: 100%;
    background: #fff;
    border-right: 1px solid #ddd;
    transition: left 0.3s ease;

    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    /* height: fit; */
  }

  .sidebar.open {
    left: 0; /* visible when toggled */
  }
}

/* Tablet and below */
@media (max-width: 768px) {
  .sidebar {
    width: 180px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .tab {
    font-size: 12px;
    font-weight: 400;
  }
}

@media (max-width: 378px) {
  .tab {
    padding: 0;
    border: none;
    /* border-bottom: 1px solid #10413f; */
    background: #f5f7f7;
    color: #10413f;
    font-size: 12px;
    border-radius: 0;
  }
  .tab.active {
    border-bottom: 2px solid #10413f;
    background: #f5f7f7;
    color: #10413f;
  }
}
